@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-secondary-brand: 238 102 5;     /* not comma-separated */
  --color-primary-brand: 235 214 90;
  --color-accent-brand: 119 123 131;
  --color-text-brand: 119 132 161;
  --color-background-brand: 246 246 246;
}

.dark {
  --color-secondary-brand: 255 140 0;
  --color-primary-brand: 255 241 118;
  --color-accent-brand: 170 170 170;
  --color-text-brand: 211 217 244;
  --color-background-brand: 18 18 18;
}

@layer base {
  body {
    @apply text-textBrand;
  }
}




body{
    @apply bg-backgroundBrand;
}

::-webkit-scrollbar {
    @apply bg-backgroundBrand;
}

::-webkit-scrollbar-thumb {
    @apply bg-accentBrand h-0  rounded-full;
}

.input {
  @apply block w-full rounded-md border-0 px-3 py-2 text-sm text-textBrand shadow-sm outline-accentBrand ring-1 ring-inset ring-accentBrand placeholder:text-textBrand focus:ring-2 focus:ring-inset focus:ring-accentBrand;
}
.checkbox {
  @apply h-4 w-4 rounded border-accentBrand text-accentBrand focus:ring-accentBrand;
}
.file-input {
  @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:bg-secondaryBrand file:text-white;
}

