@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-text-brand: #7784a1;
  --color-background-brand: #f6f6f6;
  --color-primary-brand: #ebd65a;
  --color-secondary-brand: #ee6605;
  --color-accent-brand: #777b83;
}

.dark {
  --color-text-brand: #d5dbee;
  --color-background-brand: #121417;
  --color-primary-brand: #fff176;
  --color-secondary-brand: #ff8c42;
  --color-accent-brand: #a0a4b8;
}



body{
    @apply bg-backgroundBrand;
}

::-webkit-scrollbar {
    @apply bg-backgroundBrand;
}

::-webkit-scrollbar-thumb {
    @apply bg-accentBrand h-0  rounded-full;
}

.input {
  @apply block w-full rounded-md border-0 px-3 py-2 text-sm text-textBrand shadow-sm outline-accentBrand ring-1 ring-inset ring-accentBrand placeholder:text-textBrand focus:ring-2 focus:ring-inset focus:ring-accentBrand;
}
.checkbox {
  @apply h-4 w-4 rounded border-accentBrand text-accentBrand focus:ring-accentBrand;
}
.file-input {
  @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:bg-secondaryBrand file:text-white;
}

